@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

/* Custom scrollbar for dark mode */
.dark ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.dark ::-webkit-scrollbar-track {
  background: #0B0E11;
}

.dark ::-webkit-scrollbar-thumb {
  background: #2B2F36;
  border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #71767B;
}
